body
{
	font: 13px/20px normal;
	font-family: 'Segoe UI', sans-serif;
	color: #fff;
}

h1
{
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 24pt;
	font-weight: 100;
}

h4
{
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 14pt;
	font-weight: 100;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

thead th h1
{
	margin-bottom: 0px;
}

th
{
	font-size: 12pt;
	font-weight: 100;
}