.current_class
{
	background: orange;
	font-weight: 600;
	color: black;
}

#raspored
{
	border: 1px none white;
	border-spacing: 0 0.2em;
}

#raspored th
{
	font-weight: 100;
	font-family: 'Segoe UI';
	font-size: 24pt;
}

#raspored tr
{
	padding: 1px;
}

#raspored td
{
	position: relative;
	padding: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 2em;
}

#raspored td.mid
{
	padding-left: 0;
}

.time-marker
{
	position: absolute;
	background-color: orange;
	height: 100%;
	top: 0;
	left: 0;
}